<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Document</title>
</head>
<body>

<div class="container  col-lg-6 col-md-8">
    <div class="header col-12 text-center">
        <h3> Генератор характеристик персонажа </h3>
        <h4 class="w-75 m-auto my-3"> Dungeon & dragons </h4>
    </div>
    <div class="main col-12 m-auto">

        <form id="form1" name="form-gender" method="post" action="{{ url_for('add_data') }}">
            <div class="forms d-flex justify-content-around align-items-baseline row">
                <div class="gender col-sm-6">
                    <p class="choose-gender"> Выберите пол </p>
                    <p class="male-female">
                        <input type="checkbox" name="answer" value="male" id="male" class="checkbox">
                        <label for="male">Мужской</label><Br>
                        <input type="checkbox" name="answer" value="female" id="female" class="checkbox">
                        <label for="female">Женский</label>
                    </p>
                </div>
                <div class="race col-sm-6 mb-3">
                    <p class="choose-race"> Выберите расу </p>
                    <select name="select-race" size="1" class="p-1" id="select-race" required>
                        <option selected disabled value=""> Выберите расу</option>
                        <option value="dwarf"> Дварф</option>
                        <option value="elf"> Эльф</option>
                        <option value="halfling"> Полурослик</option>
                        <option value="human"> Человек</option>
                        <option value="dragonborn"> Драконорожденный</option>
                        <option value="gnome"> Гном</option>
                        <option value="half-elf"> Полуэльф</option>
                        <option value="half-orc"> Полуорк</option>
                        <option value="tiefling"> Тифлинг</option>
                    </select>
                    <label for="select-race">
                    </label>
                </div>
            </div>
            <p class="text-center my-4"><input type="submit" value="Сгенерировать"></p>
        </form>
    </div>
    {% if ready %}
        <div class="characteristics  m-auto text-center">
            <h4 class="text-center">Ваши характеристики:</h4>
            <div class="m-auto text-center ">
                {% for elem in params %}
                    <div class="d-flex justify-content-around align-items-baseline">
                        <div class="key my-1 col-lg-4 col-6 ">{{ elem }}</div>
                        <div class="charValue col-lg-8 col-6 text-start my-1 px-3">{{ params[elem] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<script>
    $("input:submit").on('click', function () {
        let checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
        if (!checkboxes.length) {
            $("#male").prop('required', true)
        }
    })
    $("input:checkbox").change(function () {
        $("#male").prop('required', false)
        if ($(this).is(":checked")) {
            const group = "input:checkbox[name='" + $(this).attr("name") + "']";
            $(group).prop("checked", false);
            $(this).prop("checked", true);
        } else {
            $(this).prop("checked", false);
        }
    });
</script>
</body>
</html>
