body {
    font-family: "Microsoft Sans Serif", serif;
    src: url("../fonts/micross.ttf");
}

.header h3 {
    font-family: "Mistral", serif;
    src: url("../fonts/3893.ttf");
    font-size: 38pt;
}

.header h4, .generation {
    font-family: "Ravie", serif;
    src: url("../fonts/RAVIE.TTF");
    font-size: 30pt;
    color: white;
    background: black;
}

.choose-gender, .choose-race {
    font-size: 23pt;
}

.male-female {
    font-size: 16pt;
}

input[type=submit] {
    font-size: 30pt;
    background: black;
    color: white;
    font-weight: 100;
}

.container {
    background: #D1EAEF;
}

.forms, .characteristics {
    background: #adbfc3;
    border-radius: 30px;
}

.selectRace select {
    background: #CED9DB;
    border-radius: 30px;
}

.charValue {
    text-align: left;
    background-color: #CED9DB;
    border-radius: 50px;
}

.characteristics h4, .characteristics div{
    font-size: 30pt;
    font-family: sans-serif;
}